body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #C5C1C0;
  color: #FFFFFF;
  }
.pealkiri {
  text-shadow: 3px 1px #6B7A8F;
  font-size: 40px;
  text-align: center;
  background-color: #F7C331;
  border-radius: 45px;
}
.tutvustavTekst {
	text-align: center;
}
.Hiiumaa {
	max-width: 100%;
}
.loremIpsum {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 2;
}
hr {
	color: #F7882F;
}
a:link {color: #FFFFFF;}
a:visited {color: #6B7A8F;}
